<html>
<link rel= "stylesheet" type= "text/css" href= "#">
<html lang="en">
<head>
  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <header>
           <a href="#">
            <img class="logo" src="images/logo.svg" alt="logo">
           </a>
          <nav>
            <ul class="nav_links" style="white-space:nowrap;">
              <li><a href="/admin">Admin Panel</a></li>
              <li><a href="/articles/new">New</a</li>
              <li><a href="/admin/login">Login</a</li>
            </ul>
          </nav>
    </header>
</html>
